#logo {
  background-color: #056dae;
  padding: 2vh;
  width: 100%;
}

#logo img {
  max-width: 22%;
  padding-right: 80px;
}

.nav-link {
  color: aliceblue !important;
}

li > a {
  color: #000;
}

#home {
  cursor: pointer;
  color: aliceblue;
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px;
  padding: 5px;
}

#total {
  cursor: pointer;
  color: aliceblue;
  text-decoration: none;
  margin-right: 10px;
  padding: 5px;
}

#wishlisticon {
  cursor: pointer;
  color: aliceblue;
  text-decoration: none;
  margin-top: 6px;
  margin-right: 10px;
  padding: 5px;
}

#wishlist-total {
  margin-bottom: 0rem;
}

#logout {
  cursor: pointer;
  color: aliceblue;
  text-decoration: none;
  padding: 5px;
}

#logout:hover,
#home:hover {
  background-color: rgba(0, 0, 0, 0.195);
  border-radius: 3px;
}

.carousel-item {
  height: 32rem;
  background: #777;
  color: white;
  position: relative;
}

.container {
  position: absolute;
  bottom: 0;
  left: 10rem;
  right: 0;
  padding-bottom: 50px;
}

.overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}

/* trending-section-css */
.center-text h2 {
  color: #111;
  font-size: 28px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 30px;
}
.center-text span {
  color: #ee1c47;
}
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, auto));
  gap: 2rem;
}
#row {
  position: relative;
  transition: all 0.4s;
}
.row a img {
  max-width: 90%;
  height: auto;
  transition: all 0.4s;
}
.row a img:hover {
  transform: scale(0.9);
}
.product-text h5 {
  position: absolute;
  top: 13px;
  left: 13px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #27b737;
  padding: 3px 10px;
  border-radius: 2px;
}
.heart-icon {
  position: absolute;
  right: 0;
  font-size: 20px;
}
.heart-icon:hover {
  color: #ee1c47;
}
.ratting i {
  color: #ff8c00;
  font-size: 18px;
}
.price h4 {
  color: #111;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 400;
}
.price p {
  color: #151515;
  font-size: 14px;
  font-weight: 600;
}
.client-reviews {
  background-color: #f3f4f6;
}
.reviews {
  text-align: center;
}
.reviews h3 {
  color: #111;
  font-size: 25px;
  text-transform: capitalize;
  text-align: center;
  font-weight: 700;
}
.reviews a img {
  width: 100px;
  height: auto;
  border-radius: 50px;
  margin: 10px 0;
}
.reviews p {
  color: #707070;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 10px;
}
.reviews h2 {
  font-size: 22px;
  color: #000;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 2px;
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
  .dropdown-menu li {
    position: relative;
  }
  .nav-item .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }
  .nav-item .submenu-left {
    right: 100%;
    left: auto;
  }
  .dropdown-menu > li:hover {
    background-color: #f1f1f1;
  }
  .dropdown-menu > li:hover > .submenu {
    display: block;
  }
}
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    margin-bottom: 0.5rem;
  }
}
/* ============ small devices .end// ============ */
