
#logo {
  background-color: #056dae;
  padding: 2vh;
  width: 100%;
}

img {
  max-width: 15%;
}

#signupimg {
  height: auto;
  max-width: 100%;
}

#form {
  position: relative;
  padding: 2vh;
}


.signup-content {
  display: flex;
  display: -webkit-flex;
  padding: 25px 0;
}

input {
  outline: none;
}

figure {
  margin: 0;
}

h2 {
  line-height: 1.66;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #222;
  font-family: Interstate, Interstate_IE, Arial, Verdana, Sans Serif;
  font-size: 36px;
}

.main {
  position: absolute;
  justify-content: center;
  align-items: center;
  height: calc(100% - 80px);
  background-color: #f8f8f8;
  width: 100%;
}

.container {
  min-width: 900px;
  background: #fff;
  margin: 2vh auto;
  box-shadow: 0px 15px 16.83px 0.17px rgb(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 15px 16.83px 0.17px rgb(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 15px 16.83px 0.17px rgb(0, 0, 0, 0.05);
  -o-box-shadow: 0px 15px 16.83px 0.17px rgb(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 15px 16.83px 0.17px rgb(0, 0, 0, 0.05);
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
}

.signup-form,
.signup-image {
  width: 50%;
  overflow: hidden;
}

.form-title {
  margin-bottom: 30px;
}

.signup-image {
  margin-top: 40px;
}

.form-submit {
  display: inline-block;
  background: #6dabe4;
  color: #fff;
  border: none;
  width: auto;
  padding: 15px 30px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  margin-top: 25px;
  cursor: pointer;
}

.form-submit:hover {
  background: #4292dc;
}

.signup-image-link {
  font-size: 14px;
  color: #222;
  display: block;
  padding: 2vh;
  text-align: center;
}

.term-service {
  font-size: 13px;
  color: #222;
}

.signup-form {
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 34px;
}

.form-group {
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
}

.form-group:last-child {
  margin-bottom: 0px;
}

input {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid #999;
  padding: 6px 30px;
  font-family: Interstate, Interstate_IE, Arial, Verdana, Sans Serif;
  box-sizing: border-box;
}

input:focus {
  border-bottom: 1px solid #222;
}

input:focus::-webkit-input-placeholder {
  color: #222;
}

.agree-term {
  display: inline-block;
  width: auto;
}

@media (min-width: 1200px) {
  .container {
    max-width: 480px;
  }
}

#username-icon, #email-icon, #password-icon, #repassword-icon{
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

#show-password, #show-repassword {
  display: inline-block;
  color: rgb(141,144,154);
}

#show-password:hover, #show-repassword:hover{
  color: rgb(93, 92, 92);
  cursor: pointer;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-container i {
  margin-left: 5px;
}

.password-criteria i {
  margin-right: 1rem;
  color: #bbb;
  font-size: small;
}

.password-criteria i.fa-check {
  color: green;
}
