#logo {
  background-color: #056dae;
  padding: 2vh;
  width: 100%;
}

#logo img {
  max-width: 30%;
  padding-right: 80px;
}

.nav-link {
  color: aliceblue !important;
}

li > a {
  color: #000;
}

#home {
  cursor: pointer;
  color: aliceblue;
  text-decoration: none;
  margin-right: 10px;
  padding: 5px;
}

#wishlisticon {
  cursor: pointer;
  color: aliceblue;
  text-decoration: none;
  margin-top: 6px;
  margin-right: 10px;
  padding: 5px;
}

#logout {
  cursor: pointer;
  color: aliceblue;
  text-decoration: none;
  padding: 5px;
}

#logout:hover,
#home:hover {
  background-color: rgba(0, 0, 0, 0.195);
  border-radius: 3px;
}

img {
  width: 100%;
  height: auto;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: #000 !important;
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
  .dropdown-menu li {
    position: relative;
  }
  .nav-item .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }
  .nav-item .submenu-left {
    right: 100%;
    left: auto;
  }
  .dropdown-menu > li:hover {
    background-color: #f1f1f1;
  }
  .dropdown-menu > li:hover > .submenu {
    display: block;
  }
}
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    margin-bottom: 0.5rem;
  }
}
/* ============ small devices .end// ============ */
